body{
	  background-image:url(http://www.favorisxp.com/fonds-decran/univers-spatial/sky-starry-milky-way-landscape-backgrounds-wallpapers.jpg);
}
h1{
	color:red;
}
h2{
	color:yellow;
}
p{
	color:white;
}
p{
	font-family: arial, verdana, sans-serif;
}
p{
	text-indent: 30px;
}
h1{
    text-align:center;
}
h2{
    text-align:center;
}	 
a{
	color:orange;
}
h1{
	font-familly:helvetica, sans-serif;
}
h2{
	font-family:arial, verdana, sans-serif;
}